.menu {
    margin: 0;
    padding: 0px 5px;
    list-style-type: none;
    text-align: left;
}

.menu-item {
    display: inline-block;
    margin-right: 15px;
}
.menu-item a {
    text-decoration: none;
    color: #444;
}

.menu-container{
    border-radius: 5px;
    background-color: #e7e6e6;
    /*border: 1px solid #cdcdcd;*/
    margin: 10px 0;
}

/*a {*/
/*    text-decoration: none;*/

/*}*/